@model IEnumerable<WebApplicationPrueba.Models.Proyecto>

@{
    ViewBag.Title = "Proyectos";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
                <th>
                    Usuarios
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>

                    <td>
                        @{
                            foreach (var usuario in item.UsuarioProyecto)
                            {
                                @: @usuario.Usuario.Nombre <br />
                            }
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</body>
<div class="row" style="text-align:right;padding:5px;">
    <a href="/Proyecto/Create" class="btn btn-primary" role="button">Nuevo</a>
</div>
</html>
