@model WebApplicationPrueba.Models.Usuario

@{
    ViewBag.Title = "Nuevo Usuario";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(d => d.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(d => d.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(d => d.Nombre,"",new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(d => d.Apellidos, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(d => d.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Cp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(d => d.Cp, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.CodDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodDepartamento", (SelectList)ViewBag.DepartmentID, "Selecciona un Departamento")
                @Html.ValidationMessageFor(d => d.CodDepartamento, "Debe elegir un departamento.", new { @class = "danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedProyects, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedProyects, new MultiSelectList(ViewBag.Proyectos, "Value", "text"))
                @Html.ValidationMessageFor(model => model.SelectedProyects)
            </div>
        </div>
        <div style="text-align:right">
            <input value="Guardar" class="btn btn-success" type="submit" />
        </div>
    </div>
 }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
